*{
    background-color:brown;
    color:white;
}
.img{
    display: block;
margin-left: auto;
margin-right: auto;
width: 110px;
}

.p{padding-top:15px ;
    border:solid black 3px;
    width:500px;
    height:40px;
    margin-left: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover {
    background-color: white;
  }
  a:link{
      text-decoration: none;
      text-align:center;
  }
  .a{
      text-align:center;
      color:black;
      font-size: large;
  }

